# bundler
.bundle

# Rubymine
.idea

# rvm files should not be checked in as multiple rubies are supported in the CI builds
.ruby-gemset
.ruby-version

# YARD
.yardoc
doc

# simplecov
coverage

# @see http://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile/
Gemfile.lock

# built gems
pkg
*.gem

# compiled ruby from Rubinius
*.rbc
